:root {
  --text: #cdd6f4;
}

body {
  background-color: black;
  color: var(--text);
  font-family: Roboto, sans-serif;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

 img {
  padding: 10px;
  height: 350px;
}

a {
  display: block;
  padding-top: 16px;
  color: var(--text);
  text-decoration: none;
}
a:hover{
  color: blue;
}
a:active{
  color: darkblue;
}
